.container
  %h2.board-title Brackets
  - @board.tasks.each do |task|
    .board-contents
      = link_to board_task_path(task.board, task), class: 'task-link' do
        .board-box
          - if task.eyecatch.attached?
            .task-image
              .task-eyecatch
                = image_tag task.eyecatch
          .board-box__title
            = task.title
          .board-box__content
            = task.content
          .board-box__footer
            .board-box__detail
              = image_tag task.user.avatar_image
              - task.comments.each do |comment|
                = image_tag comment.user.avatar_image
            .board-box__comment
              %span= task.comment_count
              = image_tag 'message-square.svg'
  = link_to new_board_task_path do
    .board-new
      .board-new__icon
        %i.fa.fa-plus
      .board-new__text Add new card