.container
  %h2.board-title Brackets
  - @tasks.each do |task|
    .board-contents
      = link_to task_path(task), class: 'task-link' do
        .board-box
          .board-box__title
            = task.title
          .board-box__content
            = task.content
          .board-box__detail
            = image_tag task.user.avatar_image
            %p= task.user.display_name
  = link_to new_task_path do
    .board-new
      .board-new__icon
        %i.fa.fa-plus
      .board-new__text Add new card