.task
  .task-head
    %h2.board-title= @task.title
    .board-actions
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to 'Edit', edit_task_path(@task)
          = link_to 'Delete', task_path(@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  - if @task.eyecatch.attached?
    .task-image
      .task-eyecatch
        = image_tag @task.eyecatch
  .task-content
    = @task.content