.container
  %ul
    - @board.errors.full_messages.each do |message|
      %li= message
  %h2.form-title Edit Board
  = form_with(model: @board, url: board_path(@board), method: 'put', local: true) do |f|
    .field
      = f.label :title, 'Name'
      %div
        = f.text_field :title, class: 'text'
    .field
      = f.label :content, 'Description'
      %div
        = f.text_area :content
    %div
      = f.submit 'Submit', class: 'btn-primary'