.container
  %h2.board-title All Boards
  - @boards.each do |board|
    .board-contents
      .board-box
        .board-box__title
          = board.title
        .board-box__content
          = board.content
        .board-box__detail
          = image_tag board.user.avatar_image
          %p= board.user.display_name
      - if user_signed_in? && current_user.has_written?(board)
        .board-actions
          .dropdown
            = image_tag 'actions.svg', class: 'dropbtn'
            .dropdown-content.mini
              = link_to 'Edit', edit_board_path(board)
              = link_to 'Delete', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  = link_to new_board_path do
    .board-new
      .board-new__icon
        %i.fa.fa-plus
      .board-new__text Add new board