.container
  %h2.board-title All Boards
  - @boards.each do |board|
    .board-contents
      .board-box
        .board-box__title
          = board.title
        .board-box__content
          = board.content
        .board-box__detail
          = image_tag 'default-avatar.png'
      .board-actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to 'Edit'
            = link_to 'Delete'
  = link_to new_board_path do
    .board-new
      .board-new__icon
        %i.fa.fa-plus
      .board-new__text Add new board